/*Este es comentario en CSS*/
/*Solis Castellon Ingrid Daneyra     Grupo:4BPM*/
/*DAW                                Fecha:/02/2024*/
/*A continuacion le aplicamos CSS a la actividad (practicaa1.html) desde un archivo CSS (practicaa1.css)*/
body{
    background-color: aliceblue;
}
#logo{
    width: 150px;
    height: 150px;
}
h1{
    color: crimson;
    text-align: center;
}
h2{
    color: blueviolet;
    text-align: center;
}
h4{
    color: rgb(250, 29, 195);
    text-align: center;
}
h5{
    color: blue;
    text-align: right;
}
h6{
    color: blue;
    text-align: right;
}

